@model GoceTransportApp.Web.ViewModels.Routes.RemoveRouteViewModel

@{
    ViewData["Title"] = "Delete route";

    var returnUrl = Context.Request.Headers["Referer"].ToString();

    if (string.IsNullOrEmpty(returnUrl))
    {
        returnUrl = Url.Action("Index", "Route");
    }
}

<h1>Delete Route</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title">Route: @Model.DepartingCity → @Model.ArrivingCity</h5>
        <p class="card-text">
            <strong>Departing Street:</strong> @Model.DepartingStreet<br />
            <strong>Arriving Street:</strong> @Model.ArrivingStreet
        </p>
        <form asp-action="Delete" method="post">
            <input asp-for="OrganizationId" type="hidden" />

            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> Confirm Delete
            </button>
            <a href="@returnUrl" class="btn btn-secondary"><i class="fas fa-times"></i> Cancel</a>
        </form>
    </div>
</div>