@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model GoceTransportApp.Web.ViewModels.ContactForms.ContactFormDetailsViewModel

<div class="card border-0 shadow-sm rounded-4">
    <div class="card-header bg-transparent border-0 p-4 pb-0">
        <h4 class="fw-semibold">@Model.Title</h4>
    </div>
    <div class="card-body p-4">
        <p><strong>@Localizer["Submitted By"]:</strong> @Model.Username</p>
        <p><strong>@Localizer["Email"]:</strong> @Model.Email</p>
        <p><strong>@Localizer["Date Submitted"]:</strong> @Model.DateSubmitted.ToString("f")</p>
        <p class="mb-1"><strong>@Localizer["Message"]:</strong></p>
        <p class="text-muted">@Model.Message</p>
    </div>
</div>
