@model GoceTransportApp.Web.ViewModels.Drivers.DriverDetailsViewModel

<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        <p class="card-text">
            <strong>Age:</strong> @Model.Age<br />
            <strong>Avatar:</strong> <a href="@Model.AvatarUrl" target="_blank">@Model.AvatarUrl</a><br />
            <strong>Driving Experience:</strong> @Model.DrivingExperience<br />
            <strong>Organization ID:</strong> @Model.OrganizationId
        </p>
    </div>
</div>
