@model GoceTransportApp.Web.ViewModels.Drivers.DriverDetailsViewModel


<div class="card shadow mb-4">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        <p class="card-text">
            <strong>Age:</strong> @Model.Age<br />
            <strong>Driving Experience:</strong> @Model.DrivingExperience<br />
            <strong>Organization Name:</strong> @Model.OrganizationName
        </p>
    </div>
</div>
