@model GoceTransportApp.Web.ViewModels.Vehicles.VehicleDetailsViewModel

<div class="card shadow mb-4">
    <div class="card-body">
        <p><strong>Number:</strong> @Model.Number</p>
        <p><strong>Type:</strong> @Model.Type</p>
        <p><strong>Manufacturer:</strong> @Model.Manufacturer</p>
        <p><strong>Model:</strong> @Model.Model</p>
        <p><strong>Capacity:</strong> @Model.Capacity</p>
        <p><strong>Fuel Consumption:</strong> @(Model.FuelConsumption ?? 0) L/100km</p>
        <p><strong>Status:</strong> @Model.Status</p>
        <p><strong>Organization:</strong> @Model.OrganizationName</p>

    </div>
</div>
