@using GoceTransportApp.Services.Data.Users
@using System.Security.Claims
@using static GoceTransportApp.Common.GlobalConstants
@model GoceTransportApp.Web.ViewModels.Vehicles.VehicleDataViewModel
@inject IUserService userService
@{
    var organizationId = Model.OrganizationId;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var isFounder = await userService.HasUserCreatedOrganizationAsync(userId, organizationId);
    var isAdmin = User.IsInRole(AdministratorRoleName);
}

<div class="col-md-4">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">@Model.Number</h5>
            <p class="card-text">
                <strong>Type:</strong> @Model.Type <br />
                <strong>Manufacturer:</strong> @Model.Manufacturer <br />
                <strong>Model:</strong> @Model.Model
            </p>
            <a asp-action="Details" asp-controller="Vehicle" asp-route-id="@Model.Id" asp-route-organizationId="@Model.OrganizationId" class="btn btn-primary btn-sm">Details</a>
            @if (isFounder || isAdmin)
            {
                <a asp-action="Edit" asp-controller="Vehicle" asp-route-id="@Model.Id" asp-route-organizationId="@Model.OrganizationId" class="btn btn-warning btn-sm">Edit</a>
                <a asp-action="Delete" asp-controller="Vehicle" asp-route-id="@Model.Id" asp-route-organizationId="@Model.OrganizationId" class="btn btn-danger btn-sm">Delete</a>
            }
        </div>
    </div>
</div>
