@model GoceTransportApp.Web.ViewModels.Vehicles.RemoveVehicleViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Remove Vehicle";

    var returnUrl = Context.Request.Headers["Referer"].ToString();

    if (string.IsNullOrEmpty(returnUrl))
    {
        returnUrl = Url.Action("Index", "Route");
    }
}

<h1 class="mb-4">@Localizer["Delete Vehicle"]</h1>

<div class="card shadow-sm border-0 rounded-4">
    <div class="card-body">
        <h5 class="card-title">@Localizer["Are you sure you want to delete this vehicle?"]</h5>
        <p class="card-text">
            <strong>@Localizer["Number"]:</strong> @Model.Number <br />
        </p>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <input asp-for="OrganizationId" type="hidden" />

            <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
            <a href="@returnUrl" class="btn btn-secondary"><i class="fas fa-times"></i> @Localizer["Cancel"]</a>
        </form>
    </div>
</div>
