@using System.Security.Claims
@using GoceTransportApp.Services.Data.Users
@model GoceTransportApp.Web.ViewModels.Vehicles.VehicleDetailsViewModel
@using static GoceTransportApp.Common.GlobalConstants
@inject IUserService userService
@{
    var organizationId = Model.OrganizationId;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var isFounder = await userService.HasUserCreatedOrganizationAsync(userId, organizationId);
    var isAdmin = User.IsInRole(AdministratorRoleName);
}
@{
    ViewData["Title"] = "Vehicle Details";
}

<h1 class="mb-4">Vehicle Details</h1>

<partial name="_VehicleDetails" model="Model" />
@if (isFounder || isAdmin)
{
    <a asp-action="Edit" asp-controller="Vehicle" asp-route-id="@Model.Id" asp-route-organizationId="@Model.OrganizationId" class="btn btn-warning "><i class="fas fa-edit"></i>Edit</a>
    <a asp-action="Delete" asp-controller="Vehicle" asp-route-id="@Model.Id" asp-route-organizationId="@Model.OrganizationId" class="btn btn-danger "><i class="fas fa-trash"></i> Delete</a>
}

<a asp-action="Vehicles" asp-controller="Organization" asp-route-organizationId="@Model.OrganizationId" class="btn btn-secondary "><i class="fas fa-info-circle"></i> Back to List</a>
